
body{
  margin: 0px;
  padding-top: 100px;
  padding-left:130px;
  padding-right: 30px;
  font-family: Roboto,Arial;

}
.header{

  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 30px;
  border-bottom-width: 1px;
  border-bottom-color: rgb(222, 222, 222);
  border-bottom-style: solid;
  margin-bottom: 15px;
  position: fixed;
  right: 0px;
  left: 0px;
  background-color: white;
  top: 0px;
  z-index:100;

}

.header-left{
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 175px;

}
.header-middle{

  flex:1;

  margin-left: 70px;
  margin-right: 35px;
  max-width: 700px;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;

}
.header-right{

  display: flex;
  align-items: center;
  justify-content: space-between;
  width:260px;
  flex-shrink: 0;
  align-items: center;
  padding-left: 5px;
  padding-right:10px;
  position: relative;

}

.three-line-menu,.upload-logo,
.youtube-apps,.notification-logo,.voice-logo{

  width:40px;
}

.youtube-logo{

  width:110px;
}

.my-dp{

  border-radius: 20px;
width:40px;
}

.search-box{

  padding-left:7px;
  display: inline-block;
  flex:1;
  width:0px;
  height: 35px;
  border-color: gray;
  border-width: 1px;
}

.search-icon,.voice-logo{

  width:25px;
  
}

.search-button,.voice-button{

  display: flex;
  justify-content: center;
}
.search-button{

  border-radius: 0px;
  border-style:solid;
  height: 39px;
  border-color: gray;
  border-width: 1px;
  width:50px;
}
.voice-button{

  height: 39px;
   width: 39px;
  border: none;
  border-radius: 22px;
 
  margin-left:10px;
}

.notification-count{

  color: white;
  background-color: red;
  height: 20px;
  width: 20px;
  text-align: center;
  border-radius:10px;
  position:absolute;
  right:83px;
  top:13px;
}